<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sản phẩm</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}"
          rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="text-center">QUẢN LÝ SẢN PHẨM</h1>
        <div>
            <form>
                <div class="form-group">
                    <input class="form-control" name="kw" placeholder="Nhap tu khoa can tim"/>
                </div>
             <div>
                 <div class="col-md-6" class="form-group">
                    <input type="number"
                           class="form-control"
                           name="from_price"
                           placeholder="Nhap gia bat dau ..."/>
                </div>
                <div class="col-md-6" class="form-group">
                    <input type="number"
                           class="form-control"
                           name="to_price"
                           placeholder="Nhap gia ket thuc ..."/>
                </div>
             </div>
            </form>
        </div>
        <table class="table">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            {% for p in products %}
            <tr>
                <td>
                    <img src="{{ url_for('static', filename=p.image) }}"
                         alt="{{ p.name }}" width="120" />
                </td>
                <td>{{ p.id }}</td>
                <td>
                    <a href="{{ url_for('product_detail', product_id=p.id) }}">{{ p.name }}</a>
                </td>
                <td>{{ "{:,.1f}".format(p.price) }} VNĐ</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>